<template name="ocorrencias">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Data da Ocorrência
                </th>
                <th scope="col">
                    Justificativa
                </th>
                <th scope="col">
                    Editar
                </th>
                <th scope="col">
                    Remover
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each ocorrencias}}
            <tr>
                <td>
                    {{dataDaOcorrencia}}
                </td>
                <td>
                    {{justificativa}}
                </td>
                <td>
                    <button data-toggle="modal" id="updateBtn" data-target="#editModal" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger" id="deleteOcorrencia"><i class="fa fa-times"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
		<button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Adicionar</button>
    <div class="modal" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Ocorrencias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{> quickForm collection=Ocorrencias id="insertOcorrencias" type="insert"}}
                </div>
            </div>
        </div>
    </div>
    {{#if atual}}
    
		<div class="modal" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{atual.razaoSocial}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{> quickForm collection=Ocorrencias id="updateOcorrencias" type="update" doc=atual}}
                </div>
            </div>
        </div>
    </div>
		{{/if}}
    
</template>
